<!DOCTYPE html>
<html>
<head>
	<title>QuesGen</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<style>
		.form-group{
			text-align: center;
    		margin-bottom: 20px;
		}
	</style>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script>
        $(document).ready(function() {

	$('form').on('submit', function(event) {

		$.ajax({
			data : {
				name : $('#nameInput').val(),			},
			type : 'POST',
			url : '/process'
		})
		.done(function(data) {
		    if (data.error) {
				$('#errorAlert').text(data.error).show();
			}
			else{
			$("div.alert-info").remove();
		    $.each(data.name, function (index, value) {
		    $(".container").append('<div class="alert alert-info">'+value[1]+"<br /></div>");
				$('#successAlert').text(value).show();
				$('#errorAlert').hide();
            });
            }
		});

		event.preventDefault();

	});

});
    </script>
</head>
<body>
<div class="container">
	<br><br><br><br>
	<form class="form-inline">
	  <div class="form-group">
	    <input type="text" style="width:500px" class="form-control" name="name" id="nameInput" placeholder="Enter a query.">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
	<br>
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
</div>
</body>
</html>